<div class="container">
<h1>League of Randomizer</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Champion</th>
        <th scope="col">Items</th>
        <th scope="col">Summoner Spells</th>
      </tr>
    </thead>
    <tbody>
      <td>
        <img class="championimageslot mx-auto d-block"[src]="'assets/images/Champit/'+champion.championImage"><br>
        <h3>{{champion.championName}}, {{champion.championTitle}}</h3>
      </td>

      <td>
        <div class="row">
          <div class="items mx-auto d-block" *ngFor="let item of items">
            <img class="itempic" [src]="'assets/images/Itemit/' + item.itemImage">
          </div>
        </div>
      </td>

      <td>
        <div class="row">
          <div class="summonerspellslot mx-auto d-block" *ngFor="let spell of summonerspells">
            <img class="summonerspellslot" [src]="'assets/images/SummSpells/' + spell.spellImage">
            <h5>{{spell.spellName}}</h5>
          </div>
        </div>
      </td>
    </tbody>
  </table>
<button type="button" class="btn btn-dark mx-auto d-block" (click)="getRandomChampion()">Get A Random Build</button>
</div>
